<% include partials/header %>
  
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid border border-dark rounded">
      <div class="container-fluid">
        <h1 class="display-4 text-center">About</h1>
        <h3 class="text-center">Designed in Santa Cruz, California TopSop was created to help mechanics and their auto shop become more efficient in the modern age.</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="faint" class="card">
          <div  class="card-body">
            <h5  class="text-center" class="card-title">New Customer</h5>
            <p>Through a professional user friendly dashboard, mechanics can enter  new customers and their information through a built in- easy to read and understand form that is immediately stored in the system and available to access later upon subbmition. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="faint" class="card">
          <div class="card-body">
            <h5 class="text-center" class="card-title">New Vehicle</h5>
            <p class="notinfo" class="info">Each customer may have as many cars attached to their profile via the new vehicle feature that includes important information regarding the car and an Id to connect to the customer. At any moment, the information about the car can be updated and deleted if necessary. </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="faint" class="card">
          <div class="card-body">
            <h5 class="text-center" class="card-title">New Repair Order</h5>
            <p class="notinfo" class="info">Via the repair order form feature a mechanic can enter the issue with the car, the cost to fix it and how it would be paid. The form is auto populated with the customer’s information and allows to keep track of payment types and progress about the car.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="faint"class="card">
          <div  class="card-body">
            <h5 class="text-center" class="card-title">Vehicle Inspection</h5>
            <p class="notinfo" class="info">In the technical side, a fully covered -overall  inspection form is available in the dashboard to easily and efficiently enter an evaluated car. The form is featured with a color coded design to keep track of what is immediately requires fixing, what may required fixing and what  is working just fine.  </p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="faint" class="card">
          <div class="card-body">
            <h5 class="text-center" class="card-title">Customer Page</h5>
            <p class="notinfo" class="info">In the technical side, a fully covered -overall  inspection form is available in the dashboard to easily and efficiently enter an evaluated car. The form is featured with a color coded design to keep track of what is immediately requires fixing, what may required fixing and what  is working just fine.  </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="faint" class="card">
          <div  class="card-body">
            <h5 class="text-center" class="card-title">Search Page</h5>
            
              <p  class="notinfo" class="info">Keeping track of all customers can be tedious and if not digitalized -messy. Our search page feature allows to easily locate a car by entering car information or customer information. Each results can link to its vehicle  page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
