<% include ./partials/header %>

    <form action="/customerInputForm" method="POST">
        
        <br> Customer Entry Form <br>
        
        <input type="number" name="customer[customerID]" placeholder="Customer ID">
        
        <input type="text" name="customer[firstName]" placeholder="First Name">
        
        <input type="text" name="customer[lastName]" placeholder="Last Name">
        
        <input type="text" name="customer[address]" placeholder="Address">
        
        <input type="text" name="customer[city]" placeholder="City">
        
        <input type="text" name="customer[state]" placeholder="State">
        
        <input type="number" name="customer[zip]" placeholder="Zip Code">
        
        <input type="email" name="customer[email]" placeholder="Email">
        
        <input type="tel" name="customer[cell]" placeholder="Cell Phone Number">
        
        <input type="tel" name="customer[work]" placeholder="Work Phone Number">
        
        <input type="submit">
        
    </form> 

<% include ./partials/footer %>