<% include ./partials/header %>


    <form action="/customerInputForm" method="POST">
        
        <br> Customer Entry Form <br>
        
        <input id="customerID" type="text" name="customerID" placeholder="Customer ID" value="">
        <input id="firstName" type="text" name="firstName" placeholder="First Name" value="">
        <input id="lastName" type="text" name="lastName" placeholder="Last Name" value="">
        <input id="addres" type="text" name="address" placeholder="Address" value="">
        <input id="city" type="text" name="city" placeholder="City" value="">
        <input id="state"type="text" name="state" placeholder="State" value="">
        <input id="zip" type="number" name="zip" placeholder="Zip Code" value="">
        <input id="email" type="email" name="email" placeholder="Email" value="">
        <input id="cell" type="tel" name="cell" placeholder="Cell Phone Number" value="">
        <input id="work" type="tel" name="work" placeholder="Work Phone Number" value="">
        <input id="VIN" type="text" name="VIN" placeholder="VIN" value="">
        <input type="submit">
    </form> 

<% include ./partials/footer %>