<% include partials/header %>
  <h1>Dashboard</h1>
  <a href="/customerInputForm">New Customer</a>
  <a href="/repairOrderForm">Create Repair Order</a>
  <a href="/vehicleInputForm">New Vehicle</a>
  <a href="/vehicleInspectionForm">Vehicle Inspection</a>
  <a href="/customerPage">Customer Page</a>
  <a href="/searchPage">Search Page</a>

<% include partials/footer %>
