<% include partials/header %>

  <a href="/customerInputForm">New Customer</a>
  <a href="/repairOrderForm">Create Repair Order</a>
  <a href="/vehicleInputForm">New Vehicle</a>
  <a href="/vehicleInspectionForm">Vehicle Inspection</a>
  
<% include partials/footer %>