<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
      crossorigin="anonymous">    

    <link rel="stylesheet" type="text/css" href="/stylesheets/mainstyles.css">
    <title>TopShop</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TopShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="dashboard">About Us <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row" id="box-search">
          <div class="thumbnail text-center">
                <div class="video">
                  <video class="hidden-sm-down" muted autoplay="" loop="myVideo">
                    <source src="/stylesheets/Landing/mechanic.mp4" type="video/mp4">
                  </video>
                </div>
              <div class="caption">
                <div class="text-center">
                  <img src="/stylesheets/Landing/logo.png" class="img-thumbnail" style="width:10%">
                </div>  
                <h1 style="font-size:100px; color:white">Welcome to TopShop</h1>
                <br>
                <br>
                <button type="button" class="btn btn-outline-light btn-lg">Sign Up</button>
                <a href="dashboard" class="btn btn-outline-light btn-lg">Log In</a>
              </div>
          </div>
      </div>
    </div>  
  </body>
</html>
