<% include partials/header %>
<form class="ui form" action="/customerInputForm" method="POST">
  
    <br> Vehicle Entry Form <br>
    
    <input type="number" name="vehicle[customerID]" placeholder="Customer ID">
    
    <input type="text" name="vehicle[make]" placeholder="Make">
    
    <input type="text" name="vehicle[model]" placeholder="Model">
    
    <input type="number" name="vehicle[year]" placeholder="Year">
    
    <input type="text" name="vehicle[color]" placeholder="Color">
    
    <input type="text" name="vehicle[type]" placeholder="Type">
    
    <input type="date" name="vehicle[productionDate]" placeholder="Production Date">
    
    <input type="date" name="vehicle[inserviceDate]" placeholder="Inservice Date">
    
    <br> Last Service Information <br>
    
    <input type="date" name="vehicle[lastSrvc][date]" placeholder="Date of Last Service">
    
    <input type="number" name="vehicle[lastSrvc][odom]" placeholder="Odometer">
    
    <input type="number" name="vehicle[lastSrvc][dailyAvg]" placeholder="Daily Average Miles">
    
    <input type="number" name="vehicle[lastSrvc[monthAvg]" placeholder="Monthly Average Miles">
    
    <input type="submit">
    
</form>

<% include partials/footer %>