<% include partials/header %>
  
<div class="container border border-dark rounded mx-auto">
  
  <div class="jumbotron jumbotron-fluid border border-dark rounded">
    <div class="container-fluid">
      <h1 class="display-4 text-center">Create New Vehicle</h1>
    </div>
  </div>
  
  <form class="vehiclecreationform" action="/vehicleInputForm" method="POST">
    
    <div class="form-row">  
      <div class="col-md-4 mb-3">                                                                                            
        <label for="Make">Make</label>
        <input type="text" class="form-control" name="make" placeholder="Ex. Honda" required>
      </div>
      
      <div class="col-md-4 mb-3">                                                                                            
        <label for="Model">Model</label>
        <input type="text" class="form-control" name="model" placeholder="Ex. S2000" required>
      </div>
      
      <div class="col-md-4 mb-3">                                                                                            
        <label for="Year">Year</label>
        <input type="number" class="form-control" name="year" placeholder="Ex. 2007" min="1970" max="2020" required>
      </div>
    </div>

    <div class="form-row">  
      <div class="col-md-6 mb-3">                                                                                            
        <label for="License">License Plate</label>
        <input type="text" class="form-control" name="license" placeholder="Ex. 2SOONJR" 
          style="text-transform:uppercase" minlength="5" maxlength="7"required>
      </div>
      <div class="col-md-6 mb-3">                                                                                            
        <label for="Vehicle Identification Number">Vehicle Identification Number</label>
        <input type="text" class="form-control" name="vin" placeholder="Ex. 1C6RR7GT2DS631484" style="text-transform:uppercase" 
          minlength="17" maxlength="17" required>
      </div>
    </div>

    <div class="form-row">  
      <div class="col-md-6 mb-3">                                                                                            
        <label for="Color">Color</label>
        <input type="text" class="form-control" name="color" placeholder="Ex. Red" required>
      </div>
      <div class="col-md-6 mb-3">                                                                                            
        <label for="Current Mileage">Current Mileage</label>
        <input type="number" class="form-control" name="mileage" placeholder="Ex. 11025" 
          min=0 required>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" name="action" value="create">Create Vehicle</button>
    <button class="btn btn-success" type="button" name="action" value="create">Update Vehicle</button>
    <button class="btn btn-danger" type="button" name="action" value="create">Delete Vehicle</button>

  </form>
</div>

<% include partials/footer %>
