body {
  padding-bottom: 60px;
}

/*Set Navbar fonts*/
/*.navbar-dark .navbar-nav .nav-link{*/
/*    color: #B5AA5E!important;*/
/*}*/

/*.navbar-dark .navbar-brand {*/
/*    color: #B5AA5E!important;*/
/*}*/


/*Set navbar drop down menu color and text and padding*/
/*.navbar-dark {*/
/*  background-color: #22201D!important;*/
/*}*/

/*div.dropdown-menu.show .dropdown-item {*/
/*  background-color: #22201D;*/
/*  color: #B5AA5E;*/
/*}*/

/*.dropdown-menu {*/
/*  padding: 0;*/
/*}*/


/* Start of styling for vehicle inspection form */
.container {
  margin: 30px;
  padding: 10px;
}

#colorStatus {
  padding-top: 20px;
  padding-bottom: 20px;
}

.status {
  width: 80px;
  height: 40px;
}

.description {
  padding-top: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.btn-selection-group {
  padding-bottom: 10px;
}

.group-label{
  padding-left: 6px;
  padding-top: 6px;
}

.inspection-group{
  margin-bottom: 5px;
  padding: 10px;
}

/* End of styling for vehicle inspection form */

/* Start styling for landing page */
.thumbnail {
    position: relative;
    top: 35%;
    left: 0;
    width: 100%;
}

.caption {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}


.video {
    display: block;
    margin: 0 auto;
}

/* End styling for landing page */
/*style for About starts here */

.faint:hover  { 
    
   background-color:#fed136;
   border-style: solid;
   animation-fill-mode: forwards;
   animation-name: on;
    animation-duration: 0.5s
    
    
    
}
.faint:not(:hover)
{
  
  background-color:white;
  border-style: solid;
  animation-fill-mode: forwards;
  animation-name: off;
    animation-duration: 0.1s;
  
 
}


@keyframes on {
    0%   { border-radius:2px;}
    10%   { border-radius:2px;}
    20%   { border-radius:4px;}
    30%   { border-radius:6px;}
    40%   { border-radius:8px;}
    50%   { border-radius:10px;}
    60%   { border-radius:12px;}
    70%   { border-radius:14px;}
    80%   { border-radius:16px;}
    90%   { border-radius:18px;}
    100%   { border-radius:20px;}
}
@keyframes off {
     0%   { border-radius:20px;}
     10%   { border-radius:18px;}
     20%   { border-radius:16px;}
     30%   { border-radius:14px;}
     40%   { border-radius:12px;}
     50%   { border-radius:10px;}
     60%   { border-radius:8px;}
     70%   { border-radius:6px;}
     80%   { border-radius:4px;}
     90%   { border-radius:2px;}
     100%   { border-radius:2px;}
}




/*About ends here*/

/*Read Only Starts here*/
.RequiresImmediate
{
    border-color:red;
}
.MayRequire
{
    border-color:yellow;
}
.checkedAndOk
{
    border-color:red;
}
/*Read Only ends here*/
